body{
    background-color:#0E0D2B;
}

@font-face{
    font-family: 'dotgothic16';
    src: url(fonts/DotGothic16-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nova square';
    src: url(fonts/NovaSquare-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

nav{
    background-color: #9724F1F5;
}

img.icone{
    position: absolute;
    width: 85px;
    height: 70px;
    left: 0px;
    top: 0px;
}

li a.nav-link{
    color: #FFFFFF;
}

#login{
    width: 55px;
    height: 52px;
    left: 1300px;
    top: 2px;
    /* backdrop-filter: blur(4px); */
    margin-right: 20px;

}

#titulo{
    top: 79px;
    font-family:'dotgothic16', Tahoma, sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 60px;
    line-height: 116px;
    -webkit-text-stroke-color: #EA2ED7;
    -webkit-text-stroke-width: 1px;
    color: #13D1DD;
}

div.comments-1{
    width: 1000px;
    height: 105px;
    left: 33px;
    top: 286px;

    background: #13D1DD;
    border: 2px solid rgba(180, 59, 230, 0.96);
    filter: blur(1px);
    border-radius: 30px 0px;
}

div.comments-2{
    width: 1000px;
    height: 105px;
    left: 33px;
    top: 418px;

    background: #13D1DD;
    border: 2px solid rgba(180, 59, 230, 0.96);
    filter: blur(1px);
    border-radius: 30px 0px;
}

div.comments-3{
    width: 1000px;
    height: 105px;
    left: 33px;
    top: 550px;

    background: #13D1DD;
    border: 2px solid rgba(180, 59, 230, 0.96);
    filter: blur(1px);
    border-radius: 30px 0px;
}

div.comments-4{
    width: 1000px;
    height: 105px;
    left: 33px;
    top: 682px;

    background: #13D1DD;
    border: 2px solid rgba(180, 59, 230, 0.96);
    filter: blur(1px);
    border-radius: 30px 0px;
}

div.comments-5{
    width: 1000px;
    height: 105px;
    left: 33px;
    top: 815px;

    background: #13D1DD;
    border: 2px solid rgba(180, 59, 230, 0.96);
    filter: blur(1px);
    border-radius: 30px 0px;
}

#Pjogos{
    
    width: 293px;
    height: 634px;
    left: 1107px;
    top: 286px;
    margin-top: 50px;
    margin-left: 50px;
    background: rgba(151, 36, 241, 0.96);
    border-radius: 15px;
}

#subPjogos{
    font-family: 'nova square', Tahoma, Verdana, sans-serif;
    -webkit-text-stroke-color: rgba(30, 51, 244, 0.79);
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 10px;
}


#subtitulo{
    text-align: center;
    left: 652px;
    top: 180px;
    color: #FFFFFF;
    font-family: 'nova square';
    font-style: normal;
    font-size: 20px;
    margin-bottom: 50px;
}

#tops{
    width: 160px;
    height: 48px;
    left: 59px;
    top: 232px;
    margin-bottom: 10px;
    font-family: 'nova square';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    -webkit-text-stroke-color:#1137FD ;
    -webkit-text-stroke-width: 2px;
    backdrop-filter: blur(1px);
}

#cadastro{
    margin-right: 30px;
    background: rgba(215, 108, 233, 0.97);
    border: 1px solid rgba(182, 13, 253, 0.96);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    /* border-width: 2px; */
    /* border-style: dashed; */
    /* border-color: #0904FC; */
    width: 150px;
    color: #000000;
}



